{% extends "layout.html" %}

{% block head %}
<link href="/public/app.css" rel="stylesheet" type="text/css">
<script src="/public/app.js"></script>
{% endblock %}

{% block main %}
<div class="container">
	<div class="row pt-4">
		<div class="col-3">
			{% include "home/profile.html" %}
		</div>

		<div class="col-9 pb-4">
			<form id="new-post-form" class="mb-3" hx-post="/api/posts" hx-disabled-elt=".form-control, .btn" hx-on="htmx:afterOnLoad: this.reset()">
				<div class="mb-2">
					<textarea 
						class="form-control" 
						name="content" 
						placeholder="What's on your mind?"
						required
					></textarea>
				</div>
				<button type="submit" class="btn btn-primary">Submit</button>
			</form>

			<div id="profile-feed" hx-get="/home/feed" hx-trigger="htmx:afterOnLoad from:#new-post-form">
				{{ feed | safe }}
			</div>
		</div>
	</div>
</div>
{% endblock %}